<ion-header>
	<ion-navbar>
		<ion-title>
			Firebase
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div *ngIf="user && authChecked">
		<img [src]="profilePicture" alt="profilePicture" *ngIf="profilePicture" />

		<button ion-button (click)="updatePicture()" color="primary" block>Tirar Selfie</button>
		<button ion-button (click)="doLogout()" color="primary" block>Logout</button>
	</div>
	<div *ngIf="!user && authChecked">

		<form #loginForm="ngForm">
			<ion-item>
				<ion-label floating color="primary">Username</ion-label>
				<ion-input [(ngModel)]="credentials.email" name="email" type="email" #email="ngModel" spellcheck="false" autocapitalize="off"
					required> </ion-input>
			</ion-item>
			<ion-item>
				<ion-label floating color="primary">Password</ion-label>
				<ion-input [(ngModel)]="credentials.password" name="password" type="password" #password="ngModel" required> </ion-input>
			</ion-item>
			<button ion-button (click)="doLogin(loginForm)" type="submit">Login</button>
		</form>

		<button ion-button (click)="register()" type="button">Register instead</button>

	</div>
</ion-content>
